
body {
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container .black-box {
    background-color: black;
    height: 100px;
    width: 100px;
}

.debug .container {
    background-color: white;
    height: 100%;
}

.container .red-box {
    background-color: red;
    border: none;
    height: 100px;
    width: 100px;
}

.container .white-box {
    background-color: white;
    border: none;
    height: 100px;
    width: 100px;
}

.container .crimson-box {
    background-color: #dc143c;
    border: none;
    height: 100px;
    width: 100px;
}

.container .grey-box {
    background-color: lightgray;
    border: none;
    height: 100px;
    width: 100px;
}